body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 50px;
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    
}

header {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}
.header_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    font-size: 24px;
}

.header_links {
    display: flex;
    align-items: center;
}